* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

.container .dealsPage .title {
  font-family: "Josefin Sans", sans-serif;
}

.container {
  position: relative;
}
.container .searchbar {
  width: 100%;
  line-height: 10px;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 0.3% 2%;
  z-index: 1;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  background-color: #82A28B;
}
.container .searchbar .admin_btn {
  font-size: 15px;
  height: 30px;
  width: 150px;
  background-color: #233D2A;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 5px;
  border: black;
  border-radius: 5px;
  font-family: "Josefin Sans", sans-serif;
}
.container .searchbar .admin_btn:hover {
  background-color: #233D2A;
  text-shadow: 0 0 2px white;
  box-shadow: 0px 0px 2px black, 0 0 25px lightgrey, 0 0 5px black;
}
.container .searchbar img {
  height: 50px;
  width: auto;
}
.container .filterOptions {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #82A28B;
}
.container .filterOptions .location {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #233D2A;
  cursor: pointer;
}
.container .filterOptions .location .fa {
  color: #CF6B58;
  height: 40px;
  width: 40px;
}
.container .filterOptions .location .faActive {
  color: #233D2A;
  height: 40px;
  width: 40px;
}
.container .filterOptions .profilelink {
  display: flex;
  font-size: 200%;
  z-index: 10;
  top: 15px;
  padding: 0;
  margin: 0;
}
.container .filterOptions .profilelink a {
  color: #233D2A;
}
.container .dealsPage {
  background-color: #233D2A;
  padding-top: 80px;
}
.container .dealsPage .title {
  color: #ffffff;
  font-size: 4rem;
  text-align: center;
  padding-bottom: 1.5%;
}