* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

.filtermenu {
  position: fixed;
  /* Stay in place */
  top: 0px;
  /* Place content 60px from the top */
  width: 320px;
  right: 0px;
  height: calc(100% - 30px);
  background-color: #CF6B58;
  color: #2c2926;
  border-bottom-left-radius: 140px;
  /* Stay on top */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  padding: 10px;
  padding-top: 10%;
  box-sizing: initial;
  border: initial;
  margin: initial;
  z-index: 200;
}
.filtermenu .closebtn {
  position: absolute;
  background: none;
  top: 1%;
  right: 5%;
  font-size: 65px;
  text-decoration: none;
  color: #233D2A;
}
.filtermenu .whenNeed,
.filtermenu .timeNeed,
.filtermenu .dealNeed,
.filtermenu .dietaryNeed,
.filtermenu .slider {
  padding: 4px;
}
.filtermenu .whenNeed p,
.filtermenu .timeNeed p,
.filtermenu .dealNeed p,
.filtermenu .dietaryNeed p,
.filtermenu .slider p {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
}
.filtermenu .icons {
  display: flex;
  justify-content: space-around;
  padding: 2px;
}
.filtermenu .icons img {
  width: 50px;
}
.filtermenu button {
  margin: 6px;
}

@media (min-width: 700px) {
  .filtermenu {
    font-size: 15px;
    padding-top: 10px;
  }
  .filtermenu .closebtn {
    top: -26px;
    right: -2%;
    font-size: 75px;
  }
  .filtermenu .whenNeed,
.filtermenu .timeNeed,
.filtermenu .dealNeed,
.filtermenu .dietaryNeed,
.filtermenu .slider {
    padding-top: 5%;
  }
  .filtermenu .whenNeed p,
.filtermenu .timeNeed p,
.filtermenu .dealNeed p,
.filtermenu .dietaryNeed p,
.filtermenu .slider p {
    font-size: 18px;
  }
  .filtermenu .icons {
    padding: 8px;
  }
  .filtermenu button {
    margin: 10px;
  }
}