.CalendarContainer {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 10px;
}
.CalendarContainer ::-webkit-calendar-picker-indicator {
  background: transparent;
}
.CalendarContainer .Calender {
  appearance: none;
  box-sizing: border-box;
  width: 80%;
  border: 1px solid #186E62;
  border-radius: 20px;
  background: transparent;
  font-size: 1rem;
  padding-bottom: 10px;
}
.CalendarContainer .Calender ::-webkit-datetime-edit-text {
  padding: 0 2rem;
}
.CalendarContainer .Calender ::-webkit-datetime-edit-month-field {
  text-transform: uppercase;
}
.CalendarContainer .Calender ::-webkit-datetime-edit-day-field {
  text-transform: uppercase;
}
.CalendarContainer .Calender ::-webkit-datetime-edit-year-field {
  text-transform: uppercase;
}
.CalendarContainer .Calender ::-webkit-inner-spin-button {
  display: none;
}
.CalendarContainer .Calender ::-webkit-calendar-picker-indicator {
  background: transparent;
}