@import '../../../sass/abstracts/variables';

.CalendarContainer{
width: 80%;
display: flex;
justify-content: center;

    .Calendar {
    box-sizing: border-box;
    padding: 3%;
    width: 80%;
    border: 1px solid $color-green;
    border-radius: 10px;
    font-size: 1.1rem;
    flex-direction: row;
    ::-webkit-datetime-edit-text { padding: 0 2rem; }
    ::-webkit-datetime-edit-month-field { text-transform: uppercase; text-align: center; }
    ::-webkit-datetime-edit-day-field { text-transform: uppercase; text-align: center; }
    ::-webkit-datetime-edit-year-field { text-transform: uppercase; text-align: center; }
    ::-webkit-inner-spin-button { display: none; }
    ::-webkit-calendar-picker-indicator { background: transparent;}

}
}